# Day One Notebook

In [3]:
import numpy as np
import pandas as pd

### Data Loading and Processing

In [5]:
df = pd.read_csv('../data/train.csv')
df.info()
df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8990 entries, 0 to 8989
Data columns (total 98 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   date_id                        8990 non-null   int64
 1   D1                             8990 non-null   int64
 2   D2                             8990 non-null   int64
 3   D3                             8990 non-null   int64
 4   D4                             8990 non-null   int64
 5   D5                             8990 non-null   int64
 6   D6                             8990 non-null   int64
 7   D7                             8990 non-null   int64
 8   D8                             8990 non-null   int64
 9   D9                             8990 non-null   int64
 10  E1                             7206 non-null   float64
 11  E10                            7984 non-null   float64
 12  E11                            7984 non-null   float64
 13  E12                            7984 non-null   float64
 14  E13                            7984 non-null   float64
 15  E14                            7984 non-null   float64
 16  E15                            7984 non-null   float64
 17  E16                            7984 non-null   float64
 18  E17                            7984 non-null   float64
 19  E18                            7984 non-null   float64
 20  E19                            7984 non-null   float64
 21  E2                             7984 non-null   float64
 22  E20                            7374 non-null   float64
 23  E3                             7984 non-null   float64
 24  E4                             7984 non-null   float64
 25  E5                             7984 non-null   float64
 26  E6                             7984 non-null   float64
 27  E7                             2021 non-null   float64
 28  E8                             7984 non-null   float64
 29  E9                             7984 non-null   float64
 30  I1                             7984 non-null   float64
 31  I2                             7984 non-null   float64
 32  I3                             7984 non-null   float64
 33  I4                             7984 non-null   float64
 34  I5                             7984 non-null   float64
 35  I6                             7984 non-null   float64
 36  I7                             7984 non-null   float64
 37  I8                             7984 non-null   float64
 38  I9                             7984 non-null   float64
 39  M1                             3443 non-null   float64
 40  M10                            7984 non-null   float64
 41  M11                            7984 non-null   float64
 42  M12                            7984 non-null   float64
 43  M13                            3450 non-null   float64
 44  M14                            3450 non-null   float64
 45  M15                            7984 non-null   float64
 46  M16                            7984 non-null   float64
 47  M17                            7984 non-null   float64
 48  M18                            7984 non-null   float64
 49  M2                             5773 non-null   float64
 50  M3                             6972 non-null   float64
 51  M4                             7984 non-null   float64
 52  M5                             5707 non-null   float64
 53  M6                             3947 non-null   float64
 54  M7                             7984 non-null   float64
 55  M8                             7984 non-null   float64
 56  M9                             7984 non-null   float64
 57  P1                             7984 non-null   float64
 58  P10                            7984 non-null   float64
 59  P11                            7984 non-null   float64
 60  P12                            7984 non-null   float64
 61  P13                            7984 non-null   float64
 62  P2                             7984 non-null   float64
 63  P3                             7984 non-null   float64
 64  P4                             7984 non-null   float64
 65  P5                             7416 non-null   float64
 66  P6                             7352 non-null   float64
 67  P7                             7374 non-null   float64
 68  P8                             7984 non-null   float64
 69  P9                             7984 non-null   float64
 70  S1                             7984 non-null   float64
 71  S10                            7984 non-null   float64
 72  S11                            7984 non-null   float64
 73  S12                            5453 non-null   float64
 74  S2                             7984 non-null   float64
 75  S3                             3257 non-null   float64
 76  S4                             7984 non-null   float64
 77  S5                             7479 non-null   float64
 78  S6                             7984 non-null   float64
 79  S7                             7984 non-null   float64
 80  S8                             5981 non-null   float64
 81  S9                             7984 non-null   float64
 82  V1                             7984 non-null   float64
 83  V10                            2941 non-null   float64
 84  V11                            7984 non-null   float64
 85  V12                            7984 non-null   float64
 86  V13                            7479 non-null   float64
 87  V2                             7984 non-null   float64
 88  V3                             7984 non-null   float64
 89  V4                             7984 non-null   float64
 90  V5                             7478 non-null   float64
 91  V6                             7984 non-null   float64
 92  V7                             7479 non-null   float64
 93  V8                             7984 non-null   float64
 94  V9                             4451 non-null   float64
 95  forward_returns                8990 non-null   float64
 96  risk_free_rate                 8990 non-null   float64
 97  market_forward_excess_returns  8990 non-null   float64
dtypes: float64(88), int64(10)
memory usage: 6.7 MB

,date_id,D1,D2,D3,D4,D5,D6,D7,D8,D9,...,V3,V4,V5,V6,V7,V8,V9,forward_returns,risk_free_rate,market_forward_excess_returns
8985,8985,0,0,0,0,0,0,0,0,0,...,0.469577,0.837963,1.226772,0.822751,-0.707361,0.142857,-0.649616,0.002457,0.000155,0.001990
8986,8986,0,0,0,0,0,0,0,0,0,...,0.671958,0.837963,0.785877,0.805556,-0.715692,0.196098,-0.668289,0.002312,0.000156,0.001845
8987,8987,0,0,1,0,0,0,0,0,0,...,0.481481,0.787698,0.834898,0.823413,-0.723949,0.133929,-0.670946,0.002891,0.000156,0.002424
8988,8988,0,0,0,0,0,0,0,0,0,...,0.655423,0.783730,0.994026,0.851852,-0.684937,0.101852,-0.646265,0.008310,0.000156,0.007843
8989,8989,0,0,0,0,0,0,0,0,0,...,0.066799,0.783730,1.068037,0.879630,-0.764806,0.079034,-0.705662,0.000099,0.000156,-0.000368

In [6]:
# Create lagged features
df['forward_returns_lag1'] = df['forward_returns'].shift(1)
df['risk_free_rate_lag1'] = df['risk_free_rate'].shift(1)
df['market_forward_excess_returns_lag1'] = df['market_forward_excess_returns'].shift(1)
df = df.drop(['risk_free_rate', 'market_forward_excess_returns'], axis=1)

df.tail()

,date_id,D1,D2,D3,D4,D5,D6,D7,D8,D9,...,V4,V5,V6,V7,V8,V9,forward_returns,forward_returns_lag1,risk_free_rate_lag1,market_forward_excess_returns_lag1
8985,8985,0,0,0,0,0,0,0,0,0,...,0.837963,1.226772,0.822751,-0.707361,0.142857,-0.649616,0.002457,-0.002896,0.000159,-0.003365
8986,8986,0,0,0,0,0,0,0,0,0,...,0.837963,0.785877,0.805556,-0.715692,0.196098,-0.668289,0.002312,0.002457,0.000155,0.001990
8987,8987,0,0,1,0,0,0,0,0,0,...,0.787698,0.834898,0.823413,-0.723949,0.133929,-0.670946,0.002891,0.002312,0.000156,0.001845
8988,8988,0,0,0,0,0,0,0,0,0,...,0.783730,0.994026,0.851852,-0.684937,0.101852,-0.646265,0.008310,0.002891,0.000156,0.002424
8989,8989,0,0,0,0,0,0,0,0,0,...,0.783730,1.068037,0.879630,-0.764806,0.079034,-0.705662,0.000099,0.008310,0.000156,0.007843

In [7]:
# Create feature tensor X and target tensor y
import torch

# Define features (exclude target and identifier columns)
feature_cols = [col for col in df.columns if col not in ['forward_returns', 'date_id']]
target_col = 'forward_returns'

# Create tensors
X = torch.tensor(df[feature_cols].values, dtype=torch.float32)
y = torch.tensor(df[target_col].values, dtype=torch.float32)

print(f"Feature tensor X shape: {X.shape}")
print(f"Target tensor y shape: {y.shape}")
print(f"Number of features: {len(feature_cols)}")
print(f"Number of samples: {len(df)}")

print(f"\nFirst 5 feature names:")
print(feature_cols[:5])
print(f"Last 5 feature names:")
print(feature_cols[-5:])

Feature tensor X shape: torch.Size([8990, 97])
Target tensor y shape: torch.Size([8990])
Number of features: 97
Number of samples: 8990

First 5 feature names:
['D1', 'D2', 'D3', 'D4', 'D5']
Last 5 feature names:
['V8', 'V9', 'forward_returns_lag1', 'risk_free_rate_lag1', 'market_forward_excess_returns_lag1']

In [12]:
# Import the custom loss function
import sys
sys.path.append('../')
from loss_fnqs.loss_functions import vol_penalized_sharpe
loss = vol_penalized_sharpe

### Normal equations and ARIMA for baseline

In [9]:
# Normal Equations Implementation
# Convert tensors to numpy for normal equations
X_np = X.numpy()
y_np = y.numpy()

# Handle missing values by using only complete cases
mask = ~np.isnan(X_np).any(axis=1) & ~np.isnan(y_np)
X_clean = X_np[mask]
y_clean = y_np[mask]

print(f"Original samples: {len(X_np)}")
print(f"Clean samples (no NaN): {len(X_clean)}")

# Add bias term (intercept)
X_with_bias = np.column_stack([np.ones(len(X_clean)), X_clean])



# Normal equations: β = (X^T X)^(-1) X^T y
XTX = X_with_bias.T @ X_with_bias
XTy = X_with_bias.T @ y_clean

# Check if matrix is invertible
print(f"Matrix condition number: {np.linalg.cond(XTX):.2e}")

# Use pseudo-inverse for numerical stability
beta = np.linalg.pinv(XTX) @ XTy

print(f"Coefficients shape: {beta.shape}")
print(f"Intercept: {beta[0]:.6f}")
print(f"First 5 feature coefficients: {beta[1:6]}")

# Calculate R-squared
y_pred = X_with_bias @ beta
ss_res = np.sum((y_clean - y_pred) ** 2)
ss_tot = np.sum((y_clean - np.mean(y_clean)) ** 2)
r_squared = 1 - (ss_res / ss_tot)

print(f"R-squared: {r_squared:.6f}")
print(f"RMSE: {np.sqrt(ss_res / len(y_clean)):.6f}")

Original samples: 8990
Clean samples (no NaN): 2021
Matrix condition number: 4.03e+17
Coefficients shape: (98,)
Intercept: 0.037848
First 5 feature coefficients: [ 3.60388201e-04  3.59137735e-04  1.35124485e-04 -6.80661350e-05
 -1.38620007e-03]
R-squared: 0.094985
RMSE: 0.010272